<app-cd-counter name="wertpapier-liste"></app-cd-counter>

<p *ngIf="!(symbols$ | async)">
  lade Wertpapiere...
</p>

<div class="row" *ngIf="symbols$ | async">
  <div class="col-sm">
    <h2>Wertpapiere</h2>
    <p *ngFor="let symbol of symbols$ | async">
      <app-wertpapier-eintrag [symbolInfo]="symbol"></app-wertpapier-eintrag>
    </p>
  </div>

  <div class="col-sm">
    <h2>Preise</h2>
    <p *ngFor="let quote of quotes$ | async">
      {{quote.symbol}}: {{quote.latestPrice}}
    </p>
  </div>
</div>
