<span ngbTooltip="onChanges, onInit, onDestroy" placement="bottom" class="badge badge-pill badge-green">
  {{changeStats}}
</span>
<span ngbTooltip="doCheck" placement="bottom" class="badge badge-pill badge-secondary">
  {{checkStats}}
</span>
<!--<span ngbTooltip="afterViewChecked, afterViewInit" placement="bottom" class="badge badge-pill badge-danger">
  {{viewStats}}
</span>-->
<span ngbTooltip="afterContentChecked, afterContentInit" placement="bottom" class="badge badge-pill badge-info">
  {{contentStats}}
</span>
